@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.content-border {
  box-shadow: 2px 2px 8px rgba(0, 77, 165, .2);
  margin-bottom: 12px;
  padding: 12px;
}

.content-border-title {
  display: flex;
  line-height: 40px;
  position: absolute;
  font-weight: 450;
  padding-left: 12px;
}

.ant-layout-content {
  min-height: 120px;
  line-height: 120px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
  background: rgb(255, 255, 255);
}

#header {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 1;
  box-shadow: 2px 2px 8px rgba(0, 77, 165, .2);
}

.ant-layout {
  min-height: 100vh;
}

#footer {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  position : relative;  
}
